@media only screen and (max-width: 600px) {
    body,
    html {
      font-size: 45%;
    }
    body {
      min-height: 700px;
    }
  
    .game-container {
      min-height: 700px;
    }
  
    .game-scene {
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      min-height: 700px;
    }
    .middle-btn {
      width: 22rem;
      height: 5rem;
      font-size: 1.9rem;
      font-weight: 900;
      margin-top: 1rem;
      transition: 0.3s all;
    }
  
    .middle-btn:active {
      margin: 0;
      height: 5rem;
      background-color: #ae1e39;
      color: white;
    }
  
    .game-controllers {
      min-height: 700px;
      justify-content: center;
      gap: 1rem;
    }
    .dice-one {
      margin: 1rem;
      margin-top: 2rem;
    }
    .dice-two {
      margin: 1rem;
      margin-bottom: 2rem;
    }
    .current-rolls-container {
      width: 80%;
    }
    .right,
    .left {
      padding: 1rem 0;
    }
    .game-controllers {
      padding: 0;
      padding-bottom: 14rem;
    }
    .setup-game {
      top: 0;
      transform: translate(-50%,0);
      width: 100%;
      height: 100%;
      min-height: 680px;
    }
    .setup-game h2 {
      font-size: 3rem;
    }
    .setup-game h3 {
      font-size: 2.3rem;
    }
    .error-input {
      text-align: center;
      font-size: 2rem;
    }
    .setup-game ul {
      padding-left: 10px;
      margin-top: 5px;
      font-size: 1.9rem;
    }
  
    .score-to-win-input {
      width: 30rem;
      height: 7rem;
      font-size: 5rem;
    }
    .start-game-btn {
      margin-top: 10px;
      width: 25rem;
      height: 8rem;
      font-size: 3rem;
    }
    .start-game-btn:active {
      width: 25rem;
      height: 8rem;
      margin-top: 10px;
      padding: 0;
      font-size: 3rem;
      background-color: #ae1e39;
      color: white;
    }
  
    .game-setting-box {
      height: 70%;
      margin: 0;
    }
    
    .win-loss {
      font-size: 1.9rem;
      top: -7rem;
      width: 100%;
    }
  }
  