.win-loss {
    display: none;
    position: absolute;
    font-size: 2.2rem;
    width: 28rem;
    text-align: center;
    font-weight: bold;
    top: -5rem;
    color: #2f2f2f;
  }
  
  .my-turn-score-container {
    opacity: 1;
  }
  .my-turn-background {
    opacity: 0.6;
  }
  .not-my-turn-score-container {
    opacity: 0.8;
  }
  .not-my-turn-background {
    opacity: 0.3;
  }
  .back-win {
    background-color: #2f2f2f;
    opacity: 1;
  }
  
  .winning-player-text-1 {
    color: #9a1246;
  }
  .winning-player-text-2 {
    color: #ed5e00;
  }
  .winning-player-text-3 {
    color: #893b1f;
  }
  .lose-text {
    color: #2f2f2f;
  }
  .color-1 {
    background-image: linear-gradient(
      to right bottom,
      #ae1e39,
      #9a1246,
      #81134f,
      #651852,
      #481b50
    );
  }
  .color-2 {
    background-image: linear-gradient(
      to right bottom,
      #f20000,
      #ed5e00,
      #e58900,
      #deab32,
      #d9c860
    );
  }
  .color-3 {
    background-image: linear-gradient(
      to right bottom,
      #ab5a08,
      #893b1f,
      #602622,
      #33171a,
      #000000
    );
  }
  
  .color-1-menu {
    background-image: linear-gradient(
      to right,
      #a075a5,
      #b078a1,
      #be7b9c,
      #ca8097,
      #d38691
    );
    border: #6c4374 solid 1rem;
  }
  .color-2-menu {
    background-image: linear-gradient(
      to right,
      #f20000,
      #f15d00,
      #eb8900,
      #e3ae00,
      #dacf38
    );
    border: #f15d00 solid 1rem;
  }
  .color-3-menu {
    background-image: linear-gradient(
      to right,
      #893b1f,
      #7f3521,
      #752f22,
      #6b2b22,
      #602622
    );
    border: #752f22 solid 1rem;
  }
  
  .icon {
    height: calc(100% - 4px);
  }
  .background-theme-1 {
    background-color: #911c48;
  }
  .background-theme-2 {
    background-color: #e87630;
    
  }
  .background-theme-3 {
    background-color: #602622;
  
  }